{% extends 'MAINPAGE/base.html' %}


{% block content %}
<div class="container">
    <table class="table table-sm table-striped table-hover small table-bordered table-responsive ">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Opis</th>
                <th>Zgłaszający</th>
                <th>Data zgłoszenia</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.pk }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.created_user.first_name }} {{ ticket.created_user.last_name }}</td>
                    <td>{{ ticket.create_date|date:"d.m.Y H:i:s" }}</td>
                    {% if ticket.status.pk == 1 %}
                        <td><span class="badge text-bg-success">{{ ticket.status }}</span></td>
                    {% elif ticket.status.pk == 2 %}
                        <td><span class="badge text-bg-warning">{{ ticket.status }}</span></td>
                    {% elif ticket.status.pk == 3 %}
                        <td><span class="badge text-bg-info">{{ ticket.status }}</span></td>
                    {% elif ticket.status.pk == 4 %}
                        <td><span class="badge text-bg-dark">{{ ticket.status }}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
