{% extends "MAINPAGE/base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center  text-center">
    <div class="col-5">
      <div class="card">
        <div class="card-header">Login</div>
        <form method="post">
          {% csrf_token %}

          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <td><input type="text" name="username" class="form-control" autofocus required id="id_username" placeholder="Login:"></td>

              </tr>
              <tr>
                <td><input type="password" name="password" class="form-control" required id="id_password" placeholder={{ form.password.label }}></td>
              </tr>
              <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary btn-lg btn-block">Login</button></td>
              </tr>

            </table>
              {% for error in form.non_field_errors %}
              {{ error }}
              {% endfor %}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}